<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <welcome-file-list>
        <welcome-file>Home</welcome-file>
    </welcome-file-list>
    <filter>
        <filter-name>Login_Filter</filter-name>
        <filter-class>filter.Login_Filter</filter-class>
    </filter>
    <filter>
        <filter-name>AccessFileJSP_Filter</filter-name>
        <filter-class>filter.AccessFileJSP_Filter</filter-class>
    </filter>
    <filter>
        <filter-name>Admin_Filter</filter-name>
        <filter-class>filter.Admin_Filter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AccessFileJSP_Filter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Login_Filter</filter-name>
        <servlet-name>AddBookAdmin_Servlet</servlet-name>
        <servlet-name>AddCategory_Servlet</servlet-name>
        <servlet-name>AddRole_Servlet</servlet-name>
        <servlet-name>AddUser_Servlet</servlet-name>
        <servlet-name>Add_Servlet</servlet-name>
        <servlet-name>BookManagement_Servlet</servlet-name>
        <servlet-name>Buy_Servlet</servlet-name>
        <servlet-name>Cart_Servlet</servlet-name>
        <servlet-name>CategoryManagement_Servlet</servlet-name>
        <servlet-name>DeleteBook_Servlet</servlet-name>
        <servlet-name>DeleteCategory_Servlet</servlet-name>
        <servlet-name>DeleteOrderDetails_Servlet</servlet-name>
        <servlet-name>DeleteOrder_Servlet</servlet-name>
        <servlet-name>DeleteRole_Servlet</servlet-name>
        <servlet-name>DeleteUser_Servlet</servlet-name>
        <servlet-name>Delete_Servlet</servlet-name>
        <servlet-name>EditBookAdmin_Servlet</servlet-name>
        <servlet-name>EditBook_Servlet</servlet-name>
        <servlet-name>EditUser_Servlet</servlet-name>
        <servlet-name>HomeAdmin_Servlet</servlet-name>
        <servlet-name>MyBook_Servlet</servlet-name>
        <servlet-name>OrderDetailsManagement_Servlet</servlet-name>
        <servlet-name>OrderManagement_Servlet</servlet-name>
        <servlet-name>Order_Servlet</servlet-name>
        <servlet-name>RoleManagement_Servlet</servlet-name>
        <servlet-name>UserManagement_Servlet</servlet-name>
    </filter-mapping>
    
    <filter-mapping>
        <filter-name>Admin_Filter</filter-name>
        <servlet-name>AddBookAdmin_Servlet</servlet-name>
        <servlet-name>AddCategory_Servlet</servlet-name>
        <servlet-name>AddRole_Servlet</servlet-name>
        <servlet-name>AddUser_Servlet</servlet-name>
        <servlet-name>BookManagement_Servlet</servlet-name>
        <servlet-name>CategoryManagement_Servlet</servlet-name>
        <servlet-name>DeleteBook_Servlet</servlet-name>
        <servlet-name>DeleteCategory_Servlet</servlet-name>
        <servlet-name>DeleteOrderDetails_Servlet</servlet-name>
        <servlet-name>DeleteOrder_Servlet</servlet-name>
        <servlet-name>DeleteRole_Servlet</servlet-name>
        <servlet-name>DeleteUser_Servlet</servlet-name>
        <servlet-name>EditBookAdmin_Servlet</servlet-name>
        <servlet-name>EditUser_Servlet</servlet-name>
        <servlet-name>HomeAdmin_Servlet</servlet-name>
        <servlet-name>OrderDetailsManagement_Servlet</servlet-name>
        <servlet-name>OrderManagement_Servlet</servlet-name>
        <servlet-name>RoleManagement_Servlet</servlet-name>
        <servlet-name>UserManagement_Servlet</servlet-name>
    </filter-mapping>
    <servlet>
        <servlet-name>Home_Servlet</servlet-name>
        <servlet-class>controller.Home_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout_Servlet</servlet-name>
        <servlet-class>controller.Logout_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddBook_Servlet</servlet-name>
        <servlet-class>controller.Add_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyBook_Servlet</servlet-name>
        <servlet-class>controller.MyBook_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Delete_Servlet</servlet-name>
        <servlet-class>controller.Delete_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditBook_Servlet</servlet-name>
        <servlet-class>controller.EditBook_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetProductsByCategory_Servlet</servlet-name>
        <servlet-class>controller.GetProductsByCategory_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Search_Servlet</servlet-name>
        <servlet-class>controller.Search_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FindProductByPrice_Servlet</servlet-name>
        <servlet-class>controller.FindProductByPrice_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeAdmin_Servlet</servlet-name>
        <servlet-class>controller.HomeAdmin_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cart_Servlet</servlet-name>
        <servlet-class>controller.Cart_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Buy_Servlet</servlet-name>
        <servlet-class>controller.Buy_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Process_Servlet</servlet-name>
        <servlet-class>controller.Process_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Order_Servlet</servlet-name>
        <servlet-class>controller.Order_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserManagement_Servlet</servlet-name>
        <servlet-class>controller.UserManagement_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddUser_Servlet</servlet-name>
        <servlet-class>controller.AddUser_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUser_Servlet</servlet-name>
        <servlet-class>controller.DeleteUser_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditUser_Servlet</servlet-name>
        <servlet-class>controller.EditUser_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RoleManagement_Servlet</servlet-name>
        <servlet-class>controller.RoleManagement_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddRole_Servlet</servlet-name>
        <servlet-class>controller.AddRole_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteRole_Servlet</servlet-name>
        <servlet-class>controller.DeleteRole_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookManagement_Servlet</servlet-name>
        <servlet-class>controller.BookManagement_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteBook_Servlet</servlet-name>
        <servlet-class>controller.DeleteBook_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryManagement_Servlet</servlet-name>
        <servlet-class>controller.CategoryManagement_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddBookAdmin_Servlet</servlet-name>
        <servlet-class>controller.AddBookAdmin_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditBookAdmin_Servlet</servlet-name>
        <servlet-class>controller.EditBookAdmin_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCategory_Servlet</servlet-name>
        <servlet-class>controller.AddCategory_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCategory_Servlet</servlet-name>
        <servlet-class>controller.DeleteCategory_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderManagement_Servlet</servlet-name>
        <servlet-class>controller.OrderManagement_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderDetailsManagement_Servlet</servlet-name>
        <servlet-class>controller.OrderDetailsManagement_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteOrderDetails_Servlet</servlet-name>
        <servlet-class>controller.DeleteOrderDetails_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteOrder_Servlet</servlet-name>
        <servlet-class>controller.DeleteOrder_Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Home_Servlet</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout_Servlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddBook_Servlet</servlet-name>
        <url-pattern>/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyBook_Servlet</servlet-name>
        <url-pattern>/myBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Delete_Servlet</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditBook_Servlet</servlet-name>
        <url-pattern>/edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetProductsByCategory_Servlet</servlet-name>
        <url-pattern>/getProductByCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Search_Servlet</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FindProductByPrice_Servlet</servlet-name>
        <url-pattern>/findProductByPrice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeAdmin_Servlet</servlet-name>
        <url-pattern>/HomeAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cart_Servlet</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Buy_Servlet</servlet-name>
        <url-pattern>/buy</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Process_Servlet</servlet-name>
        <url-pattern>/process</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Order_Servlet</servlet-name>
        <url-pattern>/order</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserManagement_Servlet</servlet-name>
        <url-pattern>/UserManagement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddUser_Servlet</servlet-name>
        <url-pattern>/addUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUser_Servlet</servlet-name>
        <url-pattern>/deleteUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditUser_Servlet</servlet-name>
        <url-pattern>/editUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RoleManagement_Servlet</servlet-name>
        <url-pattern>/RoleManagement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddRole_Servlet</servlet-name>
        <url-pattern>/addRole</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteRole_Servlet</servlet-name>
        <url-pattern>/deleteRole</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookManagement_Servlet</servlet-name>
        <url-pattern>/BookManagement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteBook_Servlet</servlet-name>
        <url-pattern>/deleteBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryManagement_Servlet</servlet-name>
        <url-pattern>/CategoryManagement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddBookAdmin_Servlet</servlet-name>
        <url-pattern>/addBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditBookAdmin_Servlet</servlet-name>
        <url-pattern>/editBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCategory_Servlet</servlet-name>
        <url-pattern>/addCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCategory_Servlet</servlet-name>
        <url-pattern>/deleteCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderManagement_Servlet</servlet-name>
        <url-pattern>/OrderManagement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderDetailsManagement_Servlet</servlet-name>
        <url-pattern>/OrderDetailsManagement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteOrderDetails_Servlet</servlet-name>
        <url-pattern>/deleteOrderDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteOrder_Servlet</servlet-name>
        <url-pattern>/deleteOrder</url-pattern>
    </servlet-mapping>
</web-app>
